<!DOCTYPE html>
<html>
<head>
    <title>GET and POST Checker</title>
    <style>
        table, th, td 
        {
            border: 1px solid cornflowerblue;
            text-align: center;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>
</html>